// Colours

// Purples
// $purple-1: #4F1E9E;
// $purple-2: #5D2FA8;
// $purple-3: #6D41B2;
// $purple-light: rgb(223, 233, 255);

$purple-10: #4F1E9E;
$purple-9: #5D2FA8;
$purple-8: #6D41B2;
$purple-7: #7D56BC;
$purple-6: #8F6CC6;
$purple-5: #A185CF;
$purple-4: #B59ED9;
$purple-3: #CABAE3;
$purple-2: #E0D8ED;

// Pinks
// $pink-primary: #FF67E7;
$pink-primary: #f268dd;

$--New-Swatch: #E44CBA;
$--New-Swatch: #C9348F;
$--New-Swatch: #AE2166;
$--New-Swatch: #931140;


//white to black
// --New-Swatch: #F7F7F7;
// --New-Swatch: #E7E5EB;
// --New-Swatch: #C8C3CE;
// --New-Swatch: #AAA4B1;
// --New-Swatch: #8C8595;
// --New-Swatch: #706978;
// --New-Swatch: #544D5C;
// --New-Swatch: #39343F;
// --New-Swatch: #1F1B23;
// --New-Swatch: #141217;
// --New-Swatch: #332005;
// --New-Swatch: #664414;
// --New-Swatch: #996C2E;
// --New-Swatch: #CC9952;
// --New-Swatch: #FFCA80;

// --New-Swatch: #F7F7F7;
// --New-Swatch: #E6E1ED;
// --New-Swatch: #CCC3D7;
// --New-Swatch: #A99EB7;
// --New-Swatch: #827690;
// --New-Swatch: #635870;
// --New-Swatch: #494154;
// --New-Swatch: #302937;
// --New-Swatch: #1D1923;
// --New-Swatch: #131017;
// --New-Swatch: #332005;
// --New-Swatch: #664414;
// --New-Swatch: #996C2E;
// --New-Swatch: #CC9952;
// --New-Swatch: #FFCA80;


// Base colours, whites and blacks
$base-1: #F7F7F7;
$base-2: #E1D7ED;
$base-3: #C0AED7;
$base-4: #9A82B7;
$base-5: #735B90;
$base-6: #564170;
$base-7: #402F54;
$base-8: #2A1F37;
$base-9: #1B1423;
$base-10: #120E17;

// Aesthetics
$box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 3px 6px rgba(0,0,0,.08);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab|Roboto:300,400,700');