// Colours

// Purples
$purple-primary: #581FA0;
$purple-secondary1: #5738B7;
$purple-secondary: #5C55CE;
$--New-Swatch: #7887E5;
$--New-Swatch: #A0BFFC;

// Pinks
$pink-primary: #FF67E7;
$--New-Swatch: #E44CBA;
$--New-Swatch: #C9348F;
$--New-Swatch: #AE2166;
$--New-Swatch: #931140;

// Blacks
$black-primary: #171717;

// Whites
$white-primary: #f7f7f7;

// Aesthetics
$box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700');