{% extends "recommend/base.html" %}

{% block title %} Log In - algorhythm {% endblock title %}
    
{% block content %}

    <section class="section">

        <div class="form">

            <h1 class="form__title title"> Welcome back! </h1>

            <form method="POST">

                {% csrf_token %}

                <fieldset class="form__fieldset">

                    {{ form.as_p }}

                    <input type="submit" class="btn btn__form btn--large" value="Log In">

                    <a class="link form__link" href="/register/"> Need an account? Register now! </a>

                </fieldset>

            </form>

        </div>

    </section>

{% endblock content %}

