<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommend/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title> Register </title>
</head>
<body>

    <h1> Register </h1>

    <form method="POST">

        {% csrf_token %}

        <fieldset>

        {{ form.as_p }}

        <input type="submit" value="Register"></input>

        </fieldset>

    </form>
    
</body>
</html>