{% extends "recommend/base.html" %}

{% block title %} Feedback {% endblock title %}

{% block content %}


<section class="section">

    <div class="panel section__top-tracks">

    <h1 class="section__title title top-track__title"> Feedback </h1>

    {% if recommendations %} <p class="panel__text"> Please complete the feedback form below. </p> <br> {% endif %}

    {% if feedback %} <p class="panel__text"> Thanks for submitting your feedback! </p> <br> {% endif %}


    {{ data }}


        {% if recommendations %}

        {% comment %} Show tracks once they have been found  {% endcomment %}

            <form action="/feedback_submit/" method="POST">

            {% csrf_token %}

            <ul>

            {% for track in recommendations %}

                <li class="top-track"> <h3 class="top-track__text"> {{forloop.counter}}. {{ track.song_id.title }} - {{ track.song_id.artist }} </h3> </li>                
                
                <div class="feedback__container">
                
                    <div class="feedback__radio__wrapper">
                        <input required type="radio" class="feedback__radio" name="{{ track.song_id.song_id }}" id="{{ track.song_id.song_id }}_positive_1" value="positive_1"> </input>
                        <label for="{{ track.song_id.song_id }}_positive_1" class="feedback__radio__label"> I liked this song </label>
                    </div>

                    <div class="feedback__radio__wrapper">
                        <input required type="radio" class="feedback__radio" name="{{ track.song_id.song_id }}" id="{{ track.song_id.song_id }}_positive_2" value="positive_2"> </input>
                        <label for="{{ track.song_id.song_id }}_positive_2" class="feedback__radio__label"> I liked this song but I already knew it </label>
                    </div>

                    <div class="feedback__radio__wrapper">
                        <input required type="radio" class="feedback__radio" name="{{ track.song_id.song_id }}" id="{{ track.song_id.song_id }}_negative_1" value="negative_1"> </input>
                        <label for="{{ track.song_id.song_id }}_negative_1" class="feedback__radio__label"> I didn't like this song </label>
                    </div>

                    <div class="feedback__radio__wrapper">
                        <input required type="radio" class="feedback__radio" name="{{ track.song_id.song_id }}" id="{{ track.song_id.song_id }}_negative_2" value="negative_2"> </input>
                        <label for="{{ track.song_id.song_id }}_negative_2" class="feedback__radio__label"> I didn't like this song and I already knew it </label>
                    </div>

                </div>

            {% endfor %}

            <input class="btn btn--large btn__feedback" value="Submit feedback" type="submit">  </input>


            </ul>


            </form>

                   
        {% endif %}



    </div>
    
</section>

{% endblock content %}