{% extends "recommend/base.html" %}

{% block title %} algorhythm {% endblock title %}

{% block content %}

    <section class="home-hero">

        <div class="home-hero__wrapper section">

            <div class="home-hero__info">

                <h1 class="home-hero__title title"> Discover new music, based on users with the same taste as you. </h1>

                <p class="home-hero__text"> algorhythm uses your Spotify listening history to find other people that love the same music you do. </p>

                <p class="home-hero__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quas aut quia est voluptatem optio laudantium assumenda voluptatum corporis, distinctio voluptates! </p>

                <a class="btn btn__home-hero btn--large" href="/register/"> Register </a>

                <a class="link home-hero__link" href="/login/"> Already got an account? Log in! </a>

            </div>

            <div class="home-hero__illustration">

        </div>

    </section>

    <div class="wrapper section__home__wrapper">

        <section class="section panel panel__home">

            <h1 class="panel__title title"> How does it work? </h1>

            <p class="panel__text"> dunno lol it fuckin doesnt yet </p>

            <p class="panel__text"> uses spotify and some other crazy shit </p>

        </section>

    
        <section class="section panel panel__home">

            <h1 class="panel__title title"> Another panel </h1>

            <p class="panel__text"> this might have something interesting in it one day </p>

            <p class="panel__text"> maybe </p>

        </section>

    </div>

    </div>

{% endblock content %}
