{% extends "recommend/base.html" %}

{% block title %} algorhythm {% endblock title %}

{% block content %}

    <section class="home-hero">

        <div class="home-hero__wrapper section">

            <div class="home-hero__info">

                <h1 class="home-hero__title title"> Discover new music, based on users with the same taste as you. </h1>

                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore natus accusamus sunt ea animi est minima sit, commodi omnis expedita aliquid, esse, eos saepe. Molestiae perspiciatis ea repudiandae esse sapiente! </p>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quas aut quia est voluptatem optio laudantium assumenda voluptatum corporis, distinctio voluptates! </p>

                <a class="btn btn__home-hero btn--large" href="/register/"> Register </a>

                <a class="link home-hero__link" href="/login/"> Already got an account? Log in! </a>

            </div>

            <div class="home-hero__illustration">

        </div>

    </section>

    <div class="wrapper section__home__wrapper">

        <section class="section section__home">

            <h1 class="section__home__title title"> How does it work? </h1>

            <p class="section__home__text"> dunno lol it fuckin doesnt yet </p>

            <p class="section__home__text"> uses spotify and some other crazy shit </p>

        </section>

    </div>

    </div>

{% endblock content %}
