{% extends "recommend/base.html" %}

{% block title %} algorhythm {% endblock title %}

{% block content %}

    <section class="home-hero">

        <div class="home-hero__wrapper section">

            <div class="home-hero__info">

                <h1 class="home-hero__title title"> Discover new music, based on users with the same taste as you. </h1>

                <p class="home-hero__text"> Hi! This is my project for the dissertation of my computing degree. Algorhythm is a website which uses your Spotify listening history to find other people that love the same music you do. </p>

                <p class="home-hero__text"> Algorhythm needs a user base in order to be able to find other people with the same taste as you, so unfortunately at the moment recommendations aren't live yet! Once you've signed up you will recieve an email which will notify you when it's ready. </p>

                <a class="btn btn__home-hero btn--large" href="/register/"> Register </a>

                <a class="link home-hero__link" href="/login/"> Already got an account? Log in! </a>

            </div>

            <div class="home-hero__illustration">

            </div>

    </section>

    <div class="wrapper section__home__wrapper">

        <section class="section panel panel__home">

            <h1 class="panel__title title"> How does it work? </h1>

            <p class="panel__text"> By signing in with Spotify, algorhythm can view data on your most played songs, and harness this to give you personalised recommendations.
            Once we have enough users, we will be able to find a community of other people who enjoy the same music as you do, and share music between you. </p>

        </section>
    
        <section class="section panel panel__home">

            <h1 class="panel__title title"> What data can you view? </h1>

            <p class="panel__text"> We can only view the data from your Spotify account that you give access to. As we only need to view your top tracks, that's all we see. You can double check this when you authorize algorhythm with your Spotify account. </p>

        </section>

    </div>

    </div>

{% endblock content %}
