{% load static %}
<meta property="og:title" content="algorhythm" />
<meta property="og:image" content="{% static 'images/meta-image.png' %}" />
<meta property="og:description" content="Discover new music, based on users with the same taste as you. Algorhythm is a website which uses your Spotify listening history to find other people that love the same music you do." />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{% static 'images/meta-image.png' %}">

<meta name="title" content="algorhythm" />
<meta name="description" content="Discover new music, based on users with the same taste as you. Algorhythm is a website which uses your Spotify listening history to find other people that love the same music you do." />
