{% extends "recommend/base.html" %}

{% block title %} algorhythm {% endblock title %}

{% block content %}

{% load static %}

<section class="section recommend__wrapper">

    <h2 class="title"> Hi {{current_user}}! Welcome back. </h2>

    <div class="recommend__grid">

        <div class="recommend__selection">

            <div class="panel">

                <h2 class="title recommend__title"> Short term </h2>
    
                <p class="panel__text"> Your recommendations will be based off of music which you have been listening to recently (around 1 month). </p>
            
            </div>

            <div class="recommend__bottom">
                    
                <img class="recommend-illustration" src="{% static 'images/recommend_1.svg' %}"" alt="">
                
                <a class="btn btn--large btn__recommend" href="/recommend/short_term/"> Short term </a>

            </div>
            
        
        </div>
        
        <div class="recommend__selection">

            <div class="panel">

                <h2 class="title recommend__title"> Medium term </h2>
    
                <p class="panel__text"> Your recommendations will be based off of listening history since the creation of your Spotify account. </p>
            
            </div>

            <div class="recommend__bottom">
                    
                <img class="recommend-illustration" src="{% static 'images/recommend_2.svg' %}"" alt="">
                
                <a class="btn btn--large btn__recommend" href="/recommend/medium_term/"> Medium term </a>

            </div>
          
        
        </div>
        
        <div class="recommend__selection">

            <div class="panel">

                <h2 class="title recommend__title"> Long term </h2>
    
                <p class="panel__text"> Your recommendations will be based off of music you have been listening to in the last 6 months(ish). </p>
            
            </div>

            <div class="recommend__bottom">
                    
                <img class="recommend-illustration" src="{% static 'images/recommend_3.svg' %}"" alt="">
                    
                <a class="btn btn--large btn__recommend" href="/recommend/long_term/"> Long term </a>

            </div>
            
        
        </div>

    </div>

    

</section>

{% endblock content %}