<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommend/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title> Algorhythm </title>
</head>
<body>

    <h1> Welcome to Algorhythm </h1>

    <h2> Hi {{current_user}}! </h2>


    <form method='GET' action="/recommend/top_tracks/">

        {% csrf_token %}

        <button name="time_range" value="short_term"> Short term </button>

        <button name="time_range" value="medium_term"> Medium term </button>

        <button name="time_range" value="long_term"> Long term </button>

    </form>
    
</body>

</html>