<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommend/style.css' %}">
    <title> Register </title>
</head>
<body>

    <h1> Register </h1>

    <form action method="post">

        {% csrf_token %}

        <label for="register-email"> Email: </label>
        <input type="email" id="register-email" name="email" required/>
        <br><br>

        <label for="register-firstname"> First name: </label>
        <input type="text" id="register-firstname" name="firstname" required/>
        <br><br>

        <label for="register-lastname"> Last name: </label>
        <input type="text" id="register-lastname" name="lastname" required/>
        <br><br>

        <label for="register-password"> Password: </label>
        <input type="password" id="register-password" name="password" required/>
        <br><br>

        <label for="register-confirm-password"> Confirm password: </label>
        <input type="password" id="register-confirm-password" name="confirm-password" required/>
        <br><br>

        <input type="submit" value="Register"></input>

    </form>
    
</body>
</html>