{% extends "recommend/base.html" %}

{% block title %} Top tracks {% endblock title %}

{% block content %}


<section class="section">

    <div class="panel section__top-tracks">

    <h1 class="section__title title top-track__title"> Top tracks - {{ time_range }} </h1>

    <p class="panel__text"> Thanks for submitting your top tracks! You will recieve an email in a few weeks when your recommendations are ready for you to view! </p> <br>


        {% if top_tracks %}

        {% comment %} Show tracks once they have been found {% endcomment %}

            <ul>

            {% for track in top_tracks %}

                <li class="top-track">  <img src='{{ track.image_url }}' height="50"> <a class="top-track__text"> {{forloop.counter}}. {{ track.title }} - {{ track.artist }} </a> </li>                

            {% endfor %}

            </ul>
                   
        {% endif %}

    </div>
    
</section>

{% endblock content %}