body{
    font-family: 'Arial';
}

#wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

li{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

a{
    padding: 10px;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    display: inline-block;
    padding: 5px;
}

input, label{
    padding: 5px;
    display: block;
}

label{
}