<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Algorhythm </title>
</head>
<body>

    <h1> Your top tracks </h1>

    {% comment %} Get short term top tracks {% endcomment %}

    {% if short_term_top_tracks %}

    <h2> Short term: </h2>

    <ul>

    {% for track in short_term_top_tracks %}

        <li> <a> {{ track.title }} - {{ track.artist }} </a> </li>

    {% endfor %}

    </ul>

    {% else %}

        <p> No top songs found </p>

    {% endif %}

    {% comment %} Get mediun term top tracks {% endcomment %}

    {% if medium_term_top_tracks %}

    <h2> Medium term: </h2>

    <ul>

    {% for track in medium_term_top_tracks %}

        <li> <a> {{ track.title }} - {{ track.artist }} </a> </li>

    {% endfor %}

    </ul>

    {% else %}

        <p> No top songs found </p>
        
    {% endif %}

    {% comment %} Get long term top tracks {% endcomment %}

    {% if long_term_top_tracks %}

    <h2> Long term: </h2>

    <ul>

    {% for track in long_term_top_tracks %}

        <li> <a> {{ track.title }} - {{ track.artist }} </a> </li>

    {% endfor %}

    </ul>

    {% else %}

        <p> No top songs found </p>
        
    {% endif %}
    
</body>

</html>